@font-face {
  font-family: 'Proxima Nova';
  src: url("Proxima Nova Regular.otf") format("opentype");
}

/*Added the new font*/
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("Proxima Nova Semibold.otf") format("opentype");
}
body{
    background: linear-gradient(0deg, rgba(7, 141, 207, 0.1) 8.44%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #FBFBFB, #FBFBFB), #FAFAFB;
}
.font-nova{
    font-family: 'Proxima Nova','Times New Roman', Times, serif;
    font-weight: 400;
    font-size: medium;
}
.bg {
  background-image: url("banner-img-1920.png");
  height: 512px;
  width: 98vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: bottom;
}
.font-nova-bold{
    font-family: 'Proxima Nova Semibold','Times New Roman', Times, serif;
}
.nav-link{
    margin-right: 5px;
    color: black !important;

}
.dropdown-menu{
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px #A3ACC066;
}
.to-right li{
    margin-right: 10px;
}
.flexi-course-text{
    font-size: 2rem;
    font-weight: bold;
}
.flexi-course-group{
    display: inline-flex;
    justify-content: first baseline;
}
.text-1{
    font-size: 20px;
    line-height: 30px;
}
.learn-more-btn{
    /* width: 233px;
    height: 80px; */
    padding: 10px 20px 10px 20px;
    background-color: #078DCF;
    color: white;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 2px;
    font-weight: bold;
}
.learn-more-btn:hover{
    color: white;
    background-color: #035e8b;
}
footer{
    background: linear-gradient(0deg, #FBFBFb,#FBFBFb);
    max-width: 100vw;
    overflow: hidden;
}
.footer-title-text{
    margin-bottom: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #444444;
}
.transparent-color li{
    background-color: transparent !important;
    background: transparent !important;
    padding:0px;
    border: none;
    padding-bottom: 10px;
    color: #666666;
    cursor: pointer;
}
.text-2{
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    font-weight: normal;
    margin-top: 20px;
}
.text-3{
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    font-weight: 500;
    margin-top: 20px;
}
.box-1{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(163, 172, 192, 0.4);
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.box1-title-text{
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #222222;
    margin-bottom: 20px;
}
.box1-icon-text{
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #444444;
}
.box1-body-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #444444;
}
.box2-body-text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #444444;
}
.box1-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.step-title-text{
    width: 100%;
    font-family: 'Proxima Nova','Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #444444;
    margin-bottom: 20px;
}
.step-body-text{
    font-family: 'Proxima Nova','Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #444444;
}
.step-image{
    width: 100%;
    display: flex;
    justify-content: center;
    background: transparent;
    margin-bottom: 24px;
}
.image-wrapper{
    height: 260px !important;
    background: transparent;
}
.title-sub-text{
    font-family: 'Proxima Nova','Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #888888;
}
.feature-list-title-text{
    font-family: 'Proxima Nova','Times New Roman', Times, serif;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    padding-bottom: 10px;
}
.feature-list-body-text{
    font-family: 'Proxima Nova','Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #222222;
}
.box-3{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(163, 172, 192, 0.4);
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}
.feature-row{
    min-height: 170px !important;
    max-height: 170px !important;
}
.box-4{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(163, 172, 192, 0.4);
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.box-5{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(163, 172, 192, 0.4);
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.collapse-header{
    width: 100%;
    font-family: 'Proxima Nova', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #444444;
    padding-bottom: 20px;
}
.collapse-body{
    height: 0px;
    width: 100%;
    display: none;
    font-family: 'Proxima Nova', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #444444;
    margin-bottom: 20px;
}
.show{
    display: block;
    height: auto;
    margin-bottom: 20px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.box-4 .row .collapse-header{
    cursor: pointer;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/****************************** Large devices only ******************************/

@media (min-width: 1200px) {
    .hidden-lg{
        display: none !important;
    }
    
}



/******************************Medium devices only******************************/
@media (min-width: 992px) and (max-width: 1199px){
    .bg{
        background-image: url("banner-img-1200.png");
        height: 320px;
    }
    .hidden-lg{
        display: none !important;
    }
    .image-wrapper{
        height: 220px !important;
        background: transparent;
    }

}


/******************************Small devices only******************************/
@media (min-width: 768px) and (max-width: 991px) {
    .bg{
        background-image: url("banner-img-992.png");
        height: 265px;
    }
    .hidden-xs{
        display: none !important;
    }
    .image-wrapper{
        height: auto !important;
        background: transparent;
    }
    .step-body-text{
        text-align: center !important;
    }
    .no-padding-on-small{
        padding-top: 0px !important;
    }
    .no-padding-bottom-on-small{
        padding-bottom: 0px !important;
    }
    .box1-title-text{
        font-size: 38px;
    }
    
}

/******************************Extra Small devices only******************************/
@media (max-width: 767px) {
    .bg{
        background-image: url("banner-img-768.png");
        height: 205px;
    }
    .hidden-xs{
        display: none !important;
    }
    .image-wrapper{
        height: auto !important;
        background: transparent;
    }
    .no-padding-on-small{
        padding-top: 0px !important;
    }
    .no-padding-bottom-on-small{
        padding-bottom: 0px !important;
    }
    .box1-title-text{
        font-size: 38px;
    }

    .feature-row{
    min-height: 200px !important;
    max-height: 200px !important;
}
    
}

/******************************Super Extra Small devices only******************************/
@media (max-width: 520px) {
    .bg{
        background-image: url("banner-img-520.png");
        height: 139px;
    }
    .hidden-xs{
        display: none !important;
    }

}
/******************************Super Duper Extra Small devices only******************************/
@media (max-width: 380px) {
    .bg{
        background-image: url("banner-img-380.png");
        height: 102px;
    }
	.hidden-xs{
        display: none !important;
    }
}